@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c0c0c;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0c0c0c;
    --background: #ffffff;
  }
}

body {
  @apply text-foreground;
}
